<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
   <filter>
       <filter-name>CharsetFilter</filter-name>
       <filter-class>com.zzg.day03.filter.CharsetFilter</filter-class>
       <init-param>
           <param-name>charset</param-name>
           <param-value>Utf-8</param-value>
       </init-param>
   </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>